<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>Signin</title>
  </head>

  <body class="text-center">
      <div class="widget catagory mb-50">
          <!-- Widget Title -->

          <!--  Catagories  -->
          <nav class="amado-nav">
              <ul>
                  <li><a href="/">ไปยังหน้าแรก</a></li>
              </ul>
          </nav>
  </body>
</html>
